.window {
    background: linear-gradient(to right, #3498db, #88c3ff);
}

textview{
    font-size: 100px;
    font-weight: bold;
    color: #000000;
    background-color:rgba(0, 0, 0, 0); ;
    border-radius: 8px;
    padding: 6px 12px;
}

textview text { background-color: rgba(0, 0, 0, 0);  }

button {
  color: #3273a8;
  background-image: none;
  font: 40px "Comic Sans";
  background-color:rgba(0, 0, 0, 0);
}

#wind_and_pressure_info_view , #additional_weather_info_view {
    font-size: 40px;
    font-weight: bold;
    color: #f0f0f0; /* Light off-white color */
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    border-radius: 8px;
    padding: 6px 12px;
}
